* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.login {
  border: solid black 1px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .pageSwap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 1rem;
  }
  .login-wrapper {
    background: #fff;
    width: 600px;
    margin: 65px auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);

    h1 {
      padding: 25px 25px 0 25px;
    }
    .form-input-container {
      padding: 4rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      input {
        font-size: 2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: block;
        width: 100%;
        padding: 10px 1px;
        border: 0;
        border-bottom: solid rgb(99, 9, 9) 2px;
        outline: 0;
        &:focus {
          color: salmon;
        }
      }
    }
    .form-button-container {
      display: flex;
      flex-direction: row;
      .link-btn {
        text-align: center;
        text-decoration: none;
        color: white;
        background-color: rgb(157, 157, 157);
        &:hover {
          background-color: rgb(80, 80, 80);
        }
      }
      .action-btn {
        width: 100%;
        border: none;
        padding: 18px;
        font-size: 1rem;
        text-transform: uppercase;
        transition: all 0.2s;
        cursor: pointer;
      }
      .login-button:disabled {
        cursor: not-allowed;
      }
      .login-button:enabled {
        background-color: rgb(125, 180, 32);
        color: white;
      }
    }
  }
}
