* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.pageSwap {
  position: absolute;
  top: 0;
  left: 0;
}
.register {
  border: solid black 1px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .register-wrapper {
    background: #fff;
    width: 600px;
    margin: 65px auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);

    h1 {
      font-size: 2.5rem;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      padding: 25px 25px 0 25px;
    }
  }
}
